@model IEnumerable<NBDcase.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeginDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompleteDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectSite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Client)
                </th>
                <th>Bid</th>
                  <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BeginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompleteDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectSite)
                    </td>
                      <td>
                    @Html.DisplayFor(modelItem => item.Client.ClientName)
                </td>
                <td>
                    @{
                        int bidCount = item.Bids.Count;
                        if (bidCount > 0)
                        {
                            string firstbid = "Bid Amount:" + item.Bids.FirstOrDefault().BidAmount.ToString("c") + " Hours:" + item.Bids.FirstOrDefault().BidHours;
                            if (bidCount > 1)
                            {
                                string BidList = "";
                                var c = item.Bids.ToList();
                                for (int i = 1; i < bidCount; i++)
                                {
                                    BidList += "Bid Amount:" + c[i].BidAmount + " Hours:" + c[i].BidHours + " <br />";
                                }
                                <a class="" role="button" data-toggle="collapse" href="#collapseSum@(item.ID)" aria-expanded="false" aria-controls="collapseSum@(item.ID)">
                                    @firstbid.. <span class="badge badge-info">@bidCount</span>
                                </a>
                                <div class="collapse" id="collapseSum@(item.ID)">
                                    @Html.Raw(BidList)
                                </div>
                            }
                            else
                            {
                                @firstbid
                            }
                        }
                    }
                    @*For help with Bootstrap Collapse see: https://getbootstrap.com/docs/4.3/components/collapse/*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Create" asp-route-id="@item.ID" asp-controller="Bids">New Bid</a>
                        @*<a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
